[run]
source = src/chiron
relative_files = true
branch = true
omit =
    */__init__.py
    .venv/*
    tests/*

[report]
fail_under = 85
precision = 2
show_missing = true

[xml]
output = coverage.xml
